@use "../../../scss/variables/color" as *;
@use "../../Answer/MultipleChoice/HasDocument/style.module.scss" as
    multipleChoiceAs;
@use "../../Answer/MultiSelect/HasDocument/style.module.scss" as multiSlelectAs;
.deleteAnswerButton {
    background-color: $red-500;
    color: white;
    &.multipleChoiceAs {
        @include multipleChoiceAs.answerItem;
    }
    &.multiSlelectAs {
        @include multiSlelectAs.answerItem;
    }
    &:hover {
        background-color: $red-400;
    }
    &:active {
        background-color: $red-200;
    }
}
