.question {
    counter-increment: questionCounter;
    counter-reset: answerCounter;
    word-break: break-all;
    &::before {
        content: "Câu " counter(questionCounter) ": ";
        font-weight: 500;
        font-size: 18px;
    }
}
