@mixin listItemFlexCounter() {
    display: flex;
    height: 100%;
    align-items: center;
    counter-increment: listStyle;
}

.ol_list {
    list-style-position: inside;
    counter-reset: listStyle;
    &.upper-alpha {
        li {
            @include listItemFlexCounter();
            &::before {
                content: counter(listStyle, upper-alpha) ".";
                margin-right: 0.4rem;
            }
        }
    }
    &.lower-alpha li {
        @include listItemFlexCounter();
        &::before {
            content: counter(listStyle, lower-alpha) ".";
            margin-right: 0.4rem;
        }
    }
    &.decimal li {
        @include listItemFlexCounter();
        &::before {
            content: counter(listStyle, decimal) ".";
            margin-right: 0.4rem;
        }
    }
}
