@use "../../scss/variables/color" as color;
.app-bar {
    box-shadow: inset 0 -1px color.$gray-400;
    .main-nav {
        align-items: center;
        font-weight: 500;
        gap: 1rem;
        a {
            color: color.$gray-900;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.4rem 1rem;
            border-radius: 1rem;
            transition: all 0.3s ease;
            &.active {
                color: color.$teal-800;
                background-color: color.$teal-50;
            }
            &:hover {
                color: color.$teal-400;
            }
        }
    }
    &.teal-nav {
        background-color: color.$teal-500;
        a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.4rem 1rem;
            border-radius: 1rem;
            transition: all 0.3s ease;
            &.active {
                color: color.$teal-800;
                background-color: color.$teal-50;
            }
            &:hover {
                color: color.$teal-100;
            }
        }
    }
}
