@use "./variables" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

li::marker {
    font-family: "Roboto", "Arial", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: $teal-100;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.35rem;
    cursor: pointer;
    &:hover {
        width: 0.5rem;
    }
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, $teal-400),
        color-stop(0.72, $teal-600),
        color-stop(0.86, $teal-800)
    );
}
