.answer {
    counter-increment: answerCounter;
    display: inline;
    word-break: break-all;
    &::before {
        //Default is multipleChoice
        content: counter(answerCounter, upper-alpha) ". ";
        font-weight: 500;
    }
    &.multiSelect::before {
        content: "⬜  " counter(answerCounter, upper-alpha) ". ";
        filter: grayscale(1);
        font-weight: 500;
    }
}
